.wrapper {
  display: flex;
  padding-left: 20px;
}

.title {
  margin-bottom: 100px;
}

.content {
  width: 720px;
}

ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

ul.cloud a {
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

ul.cloud a:focus {
  text-decoration: underline;
}

ul.cloud a[data-weight="1"] {
  --size: 1;
}
ul.cloud a[data-weight="2"] {
  --size: 3;
}
ul.cloud a[data-weight="3"] {
  --size: 6;
}
ul.cloud a[data-weight="4"] {
  --size: 9;
}
ul.cloud a[data-weight="5"] {
  --size: 12;
}
ul.cloud a[data-weight="6"] {
  --size: 16;
}

ul.cloud a {
  --size: 4;

  font-size: calc(var(--size) * 0.25rem + 0.5rem);
}

.stats {
  padding-left: 100px;
  font-size: 20px;
}

.stats h4 {
  margin-bottom: 40px;
}

.total {
  margin-bottom: 40px;
}

.mentions {
  margin: 0px;
}
